{% extends 'base.html' %}

{% block title %} ElectroBazaar - Laptops {% endblock%}

{% block body %}

    <section class="products-section">
        <div class="container">
            <h2 class="section-title">Latest Laptops</h2>
            <div class="products-grid">

                {% for item in products %}
                <div class="product-card">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="product-img">
                    {% else %}
                    <p>No Image Available</p>
                    {% endif %}
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.description }}</p>
                    <div class="price">$ {{ item.price }}</div>
                    {% if user.is_authenticated %}
                        <a href="{% url 'add_cart' item.id %}" class="btn" style="color: #fff;">Add to Cart</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn" style="color: #fff;">Login to shop</a>
                    {% endif %}
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}